XNA Extreme 202 - Precision/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="GetHighScores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="difficulty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHighScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHighScoresResult" type="tns:ArrayOfHighScore" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHighScore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HighScore" nillable="true" type="tns:HighScore" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HighScore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnterHighScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="highScore" type="tns:HighScore" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnterHighScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnterHighScoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHighScoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetHighScores" />
  </wsdl:message>
  <wsdl:message name="GetHighScoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetHighScoresResponse" />
  </wsdl:message>
  <wsdl:message name="EnterHighScoreSoapIn">
    <wsdl:part name="parameters" element="tns:EnterHighScore" />
  </wsdl:message>
  <wsdl:message name="EnterHighScoreSoapOut">
    <wsdl:part name="parameters" element="tns:EnterHighScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetHighScores">
      <wsdl:input message="tns:GetHighScoresSoapIn" />
      <wsdl:output message="tns:GetHighScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnterHighScore">
      <wsdl:input message="tns:EnterHighScoreSoapIn" />
      <wsdl:output message="tns:EnterHighScoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHighScores">
      <soap:operation soapAction="http://localhost/GetHighScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterHighScore">
      <soap:operation soapAction="http://localhost/EnterHighScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHighScores">
      <soap12:operation soapAction="http://localhost/GetHighScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterHighScore">
      <soap12:operation soapAction="http://localhost/EnterHighScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:57007/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:57007/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>